:root {
  --color-primary: #3083DC; /* Brilliant Azure */
  --color-secondary: #F6511D; /* Crimson Carrot */
  --color-accent: #C04CFD; /* Neon Violet */
  --color-black: #212227; /* Shadow Grey */
  --color-white: #FFEEDB; /* Antique White */

  --poppins: "Poppins", sans-serif;
  --roboto: "Roboto Slab", serif;
}

body {
  background-color: var(--color-black);
  color: var(--color-white);
  font-family: var(--poppins);
  font-weight: 400;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}

.font-roboto {
  font-family: var(--roboto);
  font-weight: 900 !important;
}